/* Stylesheet start */

/* Classes to center stuff */
.centered-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    /* align-items: center; /* Center vertically */
    /* height: 100vh; /* Optional: Set a fixed height for vertical centering */
}

.centered-text {
    text-align: center; /* Center text within this div */
}

.image-div {
  text-align: center;
  margin: 25px;
}

.custom-paragraph {
  text-align: center;
  margin: auto;
}

/* Stuff for fade effect */
@keyframes fadeinall 
{
0% {
  opacity: 1; }
97% {
  opacity: 0; }
98% {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0); }
100% {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: -1; } 
}

#fadein 
{
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #FFFFFF;
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; 
}
